.cart-child {
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 500px;
  background-color: white;
  overflow-y: scroll;
}

.empty-cart{
  display: flex;
  position: relative;
  left: 5%;
  top: 35%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 300px;
}

.empty-cart-text {
  font-size: 25px;
}

.empty-cart-button{
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 17px;
  border-radius: 25px;
  padding: 15px;
}

.cart-container {
  // border: 1px solid black;
  height: 80vh;
  width: 35vw;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.cart-modal-text{
  position: relative;
  top: 40px;
  left: 25px;
  font-size: 30px;
  font-family: UMBold;
}

.cart-item {
  margin-top: 70px;
  // border: 1px solid blue;
  // justify-content: space-around;
  position: relative;
}

.item-quantity {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 15px;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(238,238,238);
    border: none;
    border-radius: 25px;
}

.cart-item-info {
  position: absolute;
  top: 5px;
  left: 15%;
  font-size: 20px;
  width: 250px;
  font-family: UMTMedium;
  font-weight: bold;
}

.cart-item-price {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: UMTLight;
  font-size: 15px;
}

.cart-item-img {
  position: absolute;
  width: 150px;
  height: 100px;
  top:0px;
  right: 10px;
  object-fit: cover;
}

.remove-button {
  border: none;
  position: relative;
  right: 7px;
  background-color: white;
  font-size: 17px;
  color: red;
  cursor: pointer;
}

.checkout-button {
  position: absolute;
  bottom: 30px;
  width: 80%;
  margin-left: 10%;
  height: 60px;
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.checkout-button:hover {
    background-color: rgb(35, 35, 35)
}
