.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.modal-child {
  position: absolute;
  height: 100vh;
  width: 28vh;
  background-color: white;
  // transition: transform .4s ease .1s ;
  // transform: translate(-50%, 0%);
}

.modal-open {
  transform: translate(0%, 0%);
}
