.signup-modal-button {
    height: 55px;
    background-color: black;
    color: white;
    border: none;
    width: 265px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 25px;
    cursor: pointer;
}


.login-modal-button {
    height: 55px;
    background-color: rgb(238,238,238);
    border: none;
    width: 265px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
}

