.logout-modal {
    border-bottom: 1px solid rgb(214, 214, 214);
    height: 500px;
}

.profile-icon{
    position: absolute;
    left: 30px;
    top: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.logout-modal-name {
    margin-left: 110px;
    margin-top: 35px;
    font-size: 25px;
    font-weight: bold;
}
.github-icon {
    position: absolute;
    top: 107px;
    left: 35px;
    height: 30px;
    width: 30px;
    
}
.linkedin-icon {
    position: absolute;
    top: 177px;
    left: 35px;
    height: 30px;
    width: 30px;
}
.angellist-icon {
    position: absolute;
    top: 247px;
    left: 35px;
    height: 30px;
    width: 30px;
}

.github-logout-modal {
    margin-left: 80px;
    margin-top: 50px;
    font-size: 20px;
    cursor: pointer;
}

.github-logout-modal > a{
    color: black;
    text-decoration: none;
}

.linkedin-logout-modal > a{
    color: black;
    text-decoration: none;
}

.angellist-logout-modal > a{
    color: black;
    text-decoration: none;
}

.linkedin-logout-modal {
    margin-left: 80px;
    margin-top: 50px;
    font-size: 20px;
    cursor: pointer;
}

.angellist-logout-modal {
    margin-left: 80px;
    margin-top: 50px;
    font-size: 20px;
    cursor: pointer;
}

.logout-button {
    margin-top: 300px;
    margin-left: 30px;
    font-size: 17px;
    background-color: white;
    color: rgb(169, 169, 169);
    border: none;
    cursor: pointer;
}

