#map-container {
    width: 100%;
    height: 100%;
    position: fixed;
}

.pickup-map-container {
    left: 900px;
    top: 13%;
    position: fixed;
    width: 65%;
    height:100%;
}

.marker-img {
    width: 199px;
    height: auto;
}

.marker-info-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.marker-title {
    font-size: 20px;
}

.marker-rating {
    position: relative;
    bottom: 3px;
    font-size: 17px;
    background-color: rgb(238,238,238);
    border-radius: 50%;
    padding: 5px;
}