
// be careful when using this past the splash page

.splash-page {
  position: relative;
  // width: 100%;
  height: calc(100vh);
  overflow-y: scroll;
}

.splash-page::-webkit-scrollbar {
  display: none;
}

.splash-text {
  font-size: 50px;
  position: absolute;
  display: inline-block;
  top: 43vh;
  left: 10vh;
}

.switch {
  position: absolute;
  display: inline-block;
  top: 46vh;
  left: 10vh;
  width: 200px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  height: 40px;
  opacity: 75%;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 90px;
  left: 4px;
  bottom: 7px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(100px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 34px;
}

.delivery {
	position: relative;
  top: 12px;
  left: 4px;
  z-index: 2;
  padding: 10px;
  padding-right: 35px;
}

.pickup {
  position: relative;
  top: 12px;
  left: 4px;
  z-index: 2;
  padding: 15px;
  // padding-left: 30px;
}
.input-address-container {
  position: absolute;
  display: inline;
  height: 52px;
  width: 34px;
  background-color: white;
  top: 51vh;
  left: 10vh;
  justify-content: center;
    // .location-marker-logo {
    //   position: relative;
    //   display: inline-block;
    // }
}
.location-icon {
      position: relative;
      width: 40px;
      height: 40px;
      top:5px
    }

    .input-address {
      font-size: 17px;
      position: relative;
      display: inline-block;
      border: none;
      left: 34px;
      top: -43px;
      padding-left: 10px;
      width: 500px;
      height: 50px;
      
      outline: none;
    
    }
.signin-text-container{
  top: 60vh;
  left: 10vh;
  position: absolute;
  font-size: 17px;
  .signin-link {
    color: black;
  }

}

.find-food{
  font-size: 20px;
    position: absolute;
    display: inline-block;
    border: none;
    left: 570px;
    bottom: 1px;
    padding-left: 10px;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    background-color: black;
    color: white;
    cursor: pointer;
    
}
.splash-img-box {
    display: grid;
    height: 100vh;
    width: 100vw;
    
    .splash-img {
      // max-width: 100%;
      overflow-x: hidden;
        // max-height: 100%;
        width: 100vw;
        height: 100vh;
        margin: auto;
        object-fit: cover;
    }
}

.signin-prompt {
  margin-bottom: 10px;
}

