
.categories-container {
    position: absolute;
    display: flex;
    height: 110px;
    width: 90%;
    top: 125px;
    left: 5%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(214, 214, 214) ;
}

.category-button {
    height: 100px;
    width: 80px;
    // margin: 4%;
    background: none;
    border: none;
    cursor: pointer;
}

.category-icon {
    height: 70px;
    width: 70px
}

.category-text{
    font-family: UMTRegular;
    font-weight: bolder;
}
.category-icon:hover {
    background-color: rgb(214, 214, 214);
    border-radius: 50%;
}

#slider {
    position: absolute;
    top: 290px;
    width: 100%;
    // left: 5%;
    height: 30%;
    margin: auto;
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    // border: 1px solid red;
    width: 90%;
    height: 90%;
    margin: auto;
    // display: flex;
    justify-content: center;
}

.controller > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}

.direction-icon{
    height: 30px;
    width: 25px;
    font-weight: bold;
}

.previous {
    position: absolute;
    top: 40%;
    left: 1%;
    z-index: 2;
    background-color: rgb(238,238,238)
}

.next{
    position: absolute;
    right: 1%;
    top: 40%;
    z-index: 2;
    background-color: rgb(238,238,238)
}

.previous:hover {
    background-color: rgb(210, 210, 210);
}

.next:hover {
    background-color: rgb(210, 210, 210);
}

.my-slider {
    height: 50%;
    width: 80%
}
.slide {
    // border: solid 1px blue;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    // margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-img {
    width: 50vh;
    height: 22vh;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
    object-fit: cover;
}

