.form-nav {
    width: 100%;
    height: 70px;
    background-color: black;
}

.form-nav-title-box {
    position: absolute;
    top: 20px;
    left: 35px
}

.form-nav-Oobr{
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.form-nav-Eats{
    text-decoration: none;
    color: rgb(2,193,103);
    font-family: "UMTBold";
}