.auth-navbar-container {
  position: absolute;
  width: 100%;
}

.main-name {
    position: relative;
    font-size: 40px;
    top: 30px;
    left: 80px;
    text-decoration: none;
    color: black;
}

.main-name-Oobr {
    position: relative;
    font-size: 40px;
    top: 30px;
    left: 80px;
    text-decoration: none;
    color: black;
}

.main-name-Eats {
    position: relative;
    // display: inline;
    font-size: 40px;
    // top: 30px;
    // left: 80px;
    text-decoration: none;
    color: black;
}

.auth-buttons {
    // display: inline-block ;
    position: relative;  
    top: -35px;
    left: 85%;

}

.login-button {
    border: none;
    background-color: white;
    font-size: 17px;
    padding: 15px;
    width: 100px;
    border-radius: 45px;
    cursor: pointer;
    margin-right: 20px;
}

.signup-button {
    border: none;
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 15px;
    width: 100px;
    border-radius: 45px;
    cursor: pointer;
}

.food-method {
  display: flex;
  margin-left: 400px;
  margin-top: -10px;
  background-color: rgb(238,238,238);
  width: 175px;
  height: 15px;
  padding: 15px;
  border-radius: 50px;
  // align-items: center;
  justify-content: center;
}

.toggle {
  position: relative;
  display: inline;
  font-size: 17px;
  padding: 20px;
  text-decoration: none;
  color: black;
}

.method {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100px;
  background-color: white;
  border-radius: 35px;
  bottom: 10px;
}

.delivery-address {
  display: flex;
  position: relative;
  margin-left: 630px;
  margin-top: -45px;
  background-color: rgb(238,238,238);
  width: 175px;
  height: 15px;
  padding: 15px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}