.auth-navbar-container {
  position: absolute;
//   display: inline-block;
  width: 100%;
}

.main-name {
    position: relative;
    font-size: 50px;
    top: 30px;
    left: 80px;
}

.auth-buttons {
    // display: inline-block ;
    position: relative;  
    top: 2px;
    left: 85%;

}

.login-button {
    border: none;
    background-color: white;
    font-size: 17px;
    padding: 15px;
    width: 100px;
    border-radius: 45px;
    cursor: pointer;
    margin-right: 20px;
}

.signup-button {
    border: none;
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 15px;
    width: 100px;
    border-radius: 45px;
    cursor: pointer;
}
