.auth-navbar-container {
  position: absolute;
  width: 100%;
}

.main-name {
    position: relative;
    font-size: 40px;
    top: 30px;
    left: 80px;
    text-decoration: none;
    color: black;
}

.main-name-Oobr {
    position: relative;
    font-size: 40px;
    top: 30px;
    left: 75px;
    text-decoration: none;
    color: black;
}

.main-name-Eats {
    position: relative;
    // display: inline;
    font-size: 40px;
    // top: 30px;
    // left: 80px;
    text-decoration: none;
    color: black;
}

.auth-buttons {
    // display: inline-block ;
    position: relative;  
    top: -25px;
    left: 80%;

}

.login-button {
    border: none;
    background-color: white;
    font-size: 17px;
    padding: 15px;
    width: 100px;
    border-radius: 45px;
    cursor: pointer;
    margin-right: 20px;
}

.signup-button {
    border: none;
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 15px;
    width: 100px;
    border-radius: 45px;
    cursor: pointer;
}

.food-method {
  display: flex;
  margin-left: 35vh;
  margin-top: -10px;
  background-color: rgb(238,238,238);
  width: 175px;
  height: 15px;
  padding: 15px;
  border-radius: 50px;
  // align-items: center;
  justify-content: center;
}

.toggle {
  position: relative;
  display: inline;
  font-size: 17px;
  padding: 20px;
  text-decoration: none;
  color: black;
}

.method {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100px;
  background-color: white;
  border-radius: 35px;
  bottom: 10px;
}

.delivery-address {
  display: flex;
  position: relative;
  // margin-left: 600px;
  margin-left: 65vh;
  margin-top: -45px;
  background-color: rgb(238,238,238);
  width: 120px;
  height: 15px;
  padding: 15px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

// .icon-search-container{
//   position: absolute;
//   left: 90vh;
// }

.search-container {
  position: absolute;
  left: 90vh;
  margin-top: -45px;
  border: none;
  background-color: rgb(238,238,238);
  width: 40%;
  height: 15px;
  padding: 15px;
  border-radius: 50px;
  outline: none;
  font-size: 20px;
  justify-content: center;
}

.search-icon {
  position: relative;
  bottom: 3px;
}

.search {
  position: absolute;
  border: none;
  background-color: rgb(238,238,238);
  width: 40%;
  height: 15px;
  padding: 15px;
  border-radius: 50px;
  outline: none;
  font-size: 20px;
  margin-top: -15px;
}

.cart-button {
  display: flex;
  position: absolute;
  right: 4vh;
  margin-top: -45px;
  border: none;
  color: white;
  background-color: black;
  width: 100px;
  height: 45px;
  padding: 12px;
  border-radius: 50px;
  outline: none;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}

.cart-button:hover {
  background-color: rgb(35, 35, 35);
}

.cart-icon{
  color:white;
  padding-right: 10px;
}

.menu-icon {
  position: absolute;
  left: 30px;
  top: 35px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}