.pickup-restaurant-index {
    position: relative;
    top: 20vh;
    width: 860px;
    margin-left: 1% ;
}

.pickup-restaurants-container {
    width: 860px;
    height: 75vh;
    overflow-y: scroll;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.pickup-text {
    font-size: 30px;
    margin-bottom: 50px;
}

.pickup-restaurant {
    margin: 10px;
    height: 300px; 
    cursor: pointer;
}
.pickup-index-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}