

.restaurant-index-text {
    position: absolute;
    left: 0vh;
    top: -40px;
    font-size: 40px;
}

.filter-text {
    top: 2px;
    font-size:30px;
    padding-bottom: 30px;
}

.filter-text2 {
    font-size:20px;
    padding-bottom: 20px;
}

.money-button {
    font-size: 15px;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(238,238,238);
    border: none;
    margin-right: 15px;
    border-radius: 25px;
}

.money-button:hover {
    background-color: rgb(214, 214, 214);

}

.restaurant-index-container {
    position: absolute;
    top: 70%; // change her for the filtered listed
    width: 100%;
}
@media only screen and (min-height: 1000px) {
  .restaurant-index-container {
    top: 55%;;
  }
}

.main-filter-container {
    // border: 1px solid black;
    // margin-top: 20px;
    position: sticky;
    // padding-top: 50px;
    align-self: flex-start;
    margin-left: 2%;
    top: 0;
    width: 50vh;
    height: 300px;
    overflow: hidden;
    display: flex;
}

.restaurant-index {
    position: absolute;
    // border: 1px solid blue;
    left: 45vh;
    top: 5vh;
    width: 72%;
    margin-left: 2% ;
}



.restaurants-container {
    // position: relative;
    // border: 1px solid black;
    // width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.restaurant {
    margin: 10px;
    height: 200px;
    // margin: 100px; 
    padding-bottom: 30px;
    cursor: pointer;
    // background-color: rgb(103, 103, 103);
}

.restaurant-index-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.restaurant-index-info{
    display: flex;
    justify-content: space-between;
}

.restaurant-index-name {
    // display: inline;
    font-size: 20px;
    margin-top: 10px;
}
.restaurant-index-rating {
    
    margin-top: 7px;
    padding: 5px;
    background-color: rgb(238,238,238);
    border-radius: 50%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}