

.restaurant-index-text {
    position: absolute;
    left: 55vh;
    font-size: 40px;
}

.restaurant-index-container {
    position: absolute;
    top: 70%; // change her for the filtered listed
    width: 100%;

}

.main-filter-container {
    // border: 1px solid black;
    // margin-top: 20px;
    position: absolute;
    // padding-top: 50px;
    margin-left: 2%;
    top:10vh;
    width: 50vh;
}

.restaurant_index {
    position: absolute;
    // border: 1px solid blue;
    left: 55vh;
    top: 5vh;
    width: 65%;
    margin-left: 2% ;
}

.restaurants-container {
    // position: relative;

    // border: 1px solid black;
    // width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.restaurant {
    margin: 10px;
    height: 200px; 
    background-color: rgb(238,238,238);
    
}